# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage*
.pytest_cache/

# IDE / editor
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Matplotlib & cache
**/*.pdf
.mpl-cache/
